<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312547094371-8c9pj1kkk791ahjrfgqt58ecimggh054.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312547094371-8c9pj1kkk791ahjrfgqt58ecimggh054</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>312547094371-7lpd0jc7871o31r5vqih28f9vtilfde0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZx9fwH0ZzY3aYIg4crYTmX3OknuzwH9c</string>
	<key>GCM_SENDER_ID</key>
	<string>312547094371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.foodbridge</string>
	<key>PROJECT_ID</key>
	<string>food-bridge-g41opz</string>
	<key>STORAGE_BUCKET</key>
	<string>food-bridge-g41opz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312547094371:ios:1b4025053d47343c1bed56</string>
</dict>
</plist>